{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imágenes</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <h2>Imágenes</h2>
    <form action="{% url 'index' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Subir</button>
    </form>

    <div class="imagen-container">
        {% for imagen in imagenes %}
            <div class="imagen-item">
                <h2>{{ imagen.title }}</h2>
                <img src="{{ imagen.imagen.url }}" alt="">
                <a href="{% url 'eliminar' imagen.id %}">Eliminar</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
